services:
  rabbitmq_user_auth:
    image: rabbitmq:3.13-management
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: 97121104
    ports:
      - "17000:5672" # AMQP — порт для приложений
      - "17001:15672" # Web UI — панель управления
    volumes:
      - rabbitmq_user_auth_data:/var/lib/rabbitmq
    networks:
      - user-network
      - auth-network
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 10s
      timeout: 5s
      retries: 5

  #Auth
  auth_postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: postgres_noaiart_auth
      POSTGRES_USER: auth_postgres
      POSTGRES_PASSWORD: 97121104
    ports:
      - "10000:5432"
    volumes:
      - auth_postgres_data:/var/lib/postgresql/data
    networks:
      - auth-network
    healthcheck:
      test:
        ["CMD-SHELL", "pg_isready -U auth_postgres -d postgres_noaiart_auth"]
      interval: 5s
      timeout: 5s
      retries: 5

  auth_service:
    build: AuthService
    environment:
      PORT: 8000
      DB_USER: auth_postgres
      DB_PASSWORD: 97121104
      DB_HOST: auth_postgres
      DB_PORT: 5432
      DB_NAME: postgres_noaiart_auth
      JWT_ALGORITHM: RS256
      JWT_PRIVATE_KEY_PATH: "src/keys/private.pem"
      JWT_PUBLIC_KEY_PATH: "src/keys/public.pem"
      RBP_USER_AUTH_USER: admin
      RBP_USER_AUTH_PASSWORD: 97121104
      RBP_USER_AUTH_HOST: rabbitmq_user_auth
      RBP_USER_AUTH_PORT: 5672
    ports:
      - "8001:8000"
    volumes:
      - ./AuthService/src:/app/src
      - ./AuthService/alembic:/app/alembic
    depends_on:
      auth_postgres:
        condition: service_healthy
    networks:
      - auth-network
      - gateway-network

  #User
  user_postgres:
    image: ankane/pgvector:latest
    environment:
      POSTGRES_DB: postgres_noaiart_user
      POSTGRES_USER: user_postgres
      POSTGRES_PASSWORD: 97121104
    ports:
      - "10001:5432"
    volumes:
      - user_postgres_data:/var/lib/postgresql/data
      - ./initscripts/user_postgres_init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - user-network
    healthcheck:
      test:
        ["CMD-SHELL", "pg_isready -U user_postgres -d postgres_noaiart_user"]
      interval: 5s
      timeout: 5s
      retries: 5

  user_service:
    build: UserService
    environment:
      PORT: 8000
      DB_USER: user_postgres
      DB_PASSWORD: 97121104
      DB_HOST: user_postgres
      DB_PORT: 5432
      DB_NAME: postgres_noaiart_user
      RBC_USER_AUTH_USER: admin
      RBC_USER_AUTH_PASSWORD: 97121104
      RBC_USER_AUTH_HOST: rabbitmq_user_auth
      RBC_USER_AUTH_PORT: 5672
    ports:
      - "8002:8000"
    volumes:
      - ./UserService/src:/app/src
      - ./UserService/alembic:/app/alembic
    depends_on:
      user_postgres:
        condition: service_healthy
    networks:
      - gateway-network
      - user-network

  gateway:
    build: Gateway
    environment:
      JWT_ALGORITHM: RS256
      AUTH_SERVICE_HOST: auth_service
      AUTH_SERVICE_PORT: 8000
      JWT_PUBLIC_KEY_PATH: "src/keys/public.pem"
    ports:
      - "8000:8000"
    volumes:
      - ./Gateway/src:/app/src
    depends_on:
      - auth_service
    networks:
      - gateway-network

volumes:
  auth_postgres_data:
  user_postgres_data:
  rabbitmq_user_auth_data:

networks:
  auth-network:
    driver: bridge
  gateway-network:
    driver: bridge
  user-network:
    driver: bridge
